* {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.left {
    width: 200px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 30px 150px;
}

.right {
    flex-grow: 1;
}

.homeright {
    flex-grow: 1;
}

.topnav {
    width: fit-content;
    flex-direction: column;
    display: flex;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}

.topnav a {
    color: black;
    text-decoration: none;
    padding-top: 18px;
    padding-bottom: 18px;
}

.socialmedia {
    display: flex;
    justify-content: space-between;
    width: 75px;
    padding-top: 20px;
    margin: auto;
}

.mylanle {
    color: #FC8383;
    font-size: 50px;
}

.subtitle {
    font-size: medium;
    color: gray;
    position: relative;
    top: -5px;
    left: 85px;
}

.banner {
    width: 750px;
    margin-top: 50px;
}

.homebanner {
    width: 100%;
}

.caseimage {
    width: 400px;
}

.verbiage {
    background-color: #F4F7FF;
    width: 750px;
    margin-top: 35px;
    padding: 0px;
    padding-bottom: 30px;
}

.verbiage2 {
    border: 2px solid #4D7AF5;
    width: 750px;
    margin-top: 35px;
    padding: 0px;
    padding-bottom: 30px;
}

.caseheader {
    margin: 0px;
    position: relative;
    top: -30px;
    left: -15px;
}

.caseheader2 {
    margin-top: 35px;
    padding: 0px 20px;
}

.caseheader3 {
    margin: 0px;
    position: relative;
    top: -30px;
    left: -17px;
    background-color: #fff;
    width: fit-content;
}

.bluetext {
    color: #4D7AF5;
}


.aboutme2 {
    margin: 0px;
    padding: 0px 20px;
    line-height: 26px;
}

.bulletpoints{
    margin: 0px;
    padding: 0px 60px;
    line-height: 26px;
    margin-top: 10px;
}



.topnav a.active {
    color: 4D7AF5;
    text-decoration: underline;
    font-weight: bold;
}

.resume {
    padding: 10px 20px;
    margin: 0px;
    color: 4D7AF5;
    font-weight: bold;
}

.redbutton {
    background-color: #FF777C !important;
    color: #fff !important;
}

.subheader {
    color: #707070;
}

.margincasestudy {
    margin-top: 50px;
}

.casenumber {
    width: 40px;
}

.sidebar {
    position: fixed;
}

.mobileprofile {
    display: none;
}

.homebanner_mobile {
    display: none;
}

.hamburger{
    display: none !important;
}

.caseimages{
width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.caseimages_fixed{
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gifs{
    width: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gif_row{
    flex-direction: row;
    display: flex;
}


@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .mobileprofile {
        display: block;
    }

    .header {
        flex-direction: row;
        display: flex;
    }

    .title {
        flex-direction: column;
        display: flex;
        margin-left: 20px;
    }

    .sidebar-container {
        display: none;
    }

    .mylanle {
        color: #FC8383;
        font-size: 40px;
        white-space: nowrap;
    }

    .subtitle {
        font-size: 16px;
        color: gray;
        position: relative;
        top: -5px;
        white-space: nowrap;
        left: 0px;
    }

    .profile {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: auto;
        display: block;
    }

    .homebanner_mobile {
        display: block;
        width: 100%;
    }

    .homebanner {
        display: none;
    }

    .caseimage {
        width: 300px;
    }

    .casenumber {
        display: none;
    }

    .centermobile {
        text-align: center;
    }

    .caseheader {
        margin: 0px;
        position: relative;
        top: -30px;
        left: 0px;
    }

    .hamburger{
        font-size: 30px;
        margin-right: 9px;
        margin-top: 12px;
        flex-grow: 1;
        text-align: right;
        display: inline-block !important;
    }
}

.mobilemenu {
    color: #fff;
    position: fixed;
    background-color: #4D7AF5;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .5s ease;
}

.shown {
    top: 0%;
}

.hidden {
    top: -100%;
}

.mobilenav {
    display: flex;
    flex-direction: column;
}

.mobilenav a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    font-size: 35px;
    text-align: center;
    line-height: 2;
}

.closebutton {
    width: 100%;
    text-align: right;
    padding-right: 35px;
    padding-top: 50px;
}
}